* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: "Fredoka", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.oculto {
    display: none !important;
}

.fonte_bk,
.fonte-bk {
    font-family: "Fredoka", sans-serif;
}